<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4">List of Estates</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estate: ${estates}">
            <td th:text="${estate.getId()}"></td>
            <td th:text="${estate.getAddress()}"></td>
            <td th:text="${estate.getBedrooms()}"></td>
            <td th:text="${estate.getBathrooms()}"></td>
            <td th:text="${estate.getPrice()}"></td>
            <td>
                <a th:href="@{/estate/{id}(id=${estateOne.getId()})}" class="btn btn-primary">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
