<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client List</title>
</head>
<body>
<h1>Client List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Budget</th>
        <th>Details</th>
    </tr>
    <tr th:each="client: ${client}">
        <td th:text="${client.getId()}"></td>
        <td th:text="${client.getName()}"></td>
        <td th:text="${client.getEmail()}"></td>
        <td th:text="${client.getPhoneNumber()}"></td>
        <td th:text="${client.getBudget()}"></td>
        <td>
            <a th:href="@{/estates/{id}(id=${clientOne.getId()})}">Details</a>
        </td>
    </tr>
</table>
</body>
</html>
