<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Showing Schedule List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-4 mb-4">Showing Schedule List</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Property</th>
            <th>Date</th>
            <th>Client Name</th>
            <th>Details</th>
        </tr>
        <tr th:each="showingSchedule : ${showingSchedules}">
            <td th:text="${showingSchedule.getId()}"></td>
            <td th:text="${showingSchedule.getProperty()}"></td>
            <td th:text="${#dates.format(showingSchedule.getDate(), 'dd-MM-yyyy')}"></td>
            <td th:text="${showingSchedule.getClientName()}"></td>
            <td>
                <a th:href="@{/showing-schedules/{id}(id=${showingSchedule.getId()})}" class="btn btn-primary">Details</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/}" class="btn btn-secondary">Back</a>
</div>
</body>
</html>
