<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offer List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-4 mb-4">Offer List</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Property Description</th>
            <th>Price</th>
            <th>Agent Name</th>
            <th>Details</th>
        </tr>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.getId()}"></td>
            <td th:text="${offer.getPropertyDescription()}"></td>
            <td th:text="${offer.getPrice()}"></td>
            <td th:text="${offer.getAgentName()}"></td>
            <td>
                <a th:href="@{/offers/{id}(id=${offer.getId()})}" class="btn btn-primary">Details</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/}" class="btn btn-secondary">Back</a>
</div>
</body>
</html>
